{% extends 'base.html' %}

{% block content %}
<div class="about-container">
  <div class="about">
      <div class="left-section">
        <h1>Who we are?</h1>
        <p>Welcome to Grow Mate, a dedicated platform empowering farmers
          with cutting-edge agricultural solutions. Founded with a passion
          for sustainable farming, we offer crop and fertilizer
          recommendations, advanced disease detection coupled with
          prescribed supplements, and insights into innovative cultivation
          technologies. Our mission is to revolutionize agriculture by
          providing accessible information, bridging the gap between
          farmers and the latest advancements. Explore government schemes
          and subsidies, ensuring farmers have the support they need for
          success. Join us in cultivating a thriving community, rooted in
          knowledge, technology, and a shared commitment to the future of
          sustainable agriculture
        </p>
      </div>
      <div class="right-section">
        <div class="img1"></div>
      </div>
  </div>
</div>

{% endblock %}

{% block main %}
  <div class="container">
    <div class="ourFocus">
      <h1>Our Motive</h1>
      
      <div class="motive-sec">
          <div class="left-section">
            <h2>AI Powered Insights</h2>
            <p>Our AI and machine learning algorithms analyze agricultural data to generate actionable 
              insights for farmers, agronomists, and agribusinesses. From predictive models for crop 
              yield and personalized recommendations for crop management to early detection of plant 
              diseases and optimization of harvesting techniques, our platform delivers the power of 
              intelligence to transform agriculture and improve decision-making at every stage of the 
              farming lifecycle.
            </p>
          </div>
          <div class="right-section">
            
            <img src="/static/Images/aipower.jpg" class="about-img" alt="" width="90%" />

          </div>
      </div>

    </div>

    <div class="ourFocus">
      <h1>What we provide?</h1>
      <div class="motive-sec" id="motive-sec">
        <div class="left-section">
          <h2>Crop Prediction</h2>
          <p>Predicting the yield of a crop is essential for farmers to make 
            informed decisions about when to harvest and how to manage their resources. 
            Our AI-based crop prediction models analyze historical data, weather patterns,
            and soil conditions to forecast crop yield with high accuracy.
          </p>
        </div>
        <div class="right-section">
          <img src="/static/Images/crop2.jpg" class="about-img" alt="" width="90%" />
        </div>
      </div>

      <div class="motive-sec" id="motive-sec">
        <div class="left-section">
          <img src="/static/Images/diseasedetail.jpg" class="about-img" alt="" width="90%" />
        </div>
        <div class="right-section">
          <h2>Disease Identifier</h2>
          <p>Effective pest management is crucial for protecting crops and minimizing losses. 
            Our AI-based pest control system leverages computer vision and deep learning to detect 
            and identify pests and diseases in the field. By analyzing images captured by drones 
            or smartphones, our platform can accurately recognize crop threats and alert farmers to take timely action, 
            reducing the need for widespread pesticide use and enabling targeted interventions.
          </p>
        </div>
      </div>

      <div class="motive-sec" id="motive-sec">
        <div class="left-section">
          <h2>Weather Information</h2>
          <p>Our platform empowers farmers to embrace climate-smart agriculture by integrating weather 
            data, remote sensing, and predictive analytics. With actionable insights on 
            weather-related risks, resource-efficient practices, and sustainable crop choices, 
            our AI-driven approach enables adaptation to climate change, mitigation of 
            environmental impact, and the cultivation of resilient and productive farms.
          </p>
        </div>
        <div class="right-section">
          <img src="/static/Images/weather.jpg" class="about-img" alt="" width="90%" />
        </div>
      </div>
      

      <div class="motive-sec" id="motive-sec">
        <div class="left-section">
          <img src="/static/Images/resourcelibrr.jpg" class="about-img" alt="" width="90%" />
        </div>
        <div class="right-section">
          <h2>Resource Library</h2>
          <p>Our AI and ML technologies are driving the future of urban farming, enabling the design 
            of smart, sustainable, and space-efficient agricultural systems in urban environments. 
            By optimizing resource utilization, automating cultivation processes, and empowering 
            data-driven decision-making, we are supporting the growth of fresh, local, and 
            hyper-local food production to meet the demands of urban populations.
          </p>
        </div>
      </div>

      

    </div>
  </div>
{% endblock %}